dist: xenial
sudo: false

language: elixir
elixir: '1.9'

env:
  global:
    - AETERNITY_VERSION=4.0.0
    - GENERATOR_VERSION=1.2.0
    - LD_LIBRARY_PATH=$HOME/.libsodium/lib:$LD_LIBRARY_PATH
    - LD_RUN_PATH=$HOME/.libsodium/lib:$LD_RUN_PATH
    - PATH=$PATH:$HOME/.libsodium/lib:$HOME/.libsodium/include:$HOME/.kiex
    - LIBRARY_PATH=$HOME/.libsodium/lib:$LIBRARY_PATH
    - C_INCLUDE_PATH=$HOME/.libsodium/include:$C_INCLUDE_PATH
    - AETERNITY_TOP=./
  matrix:
    - LIBSODIUM_VER=1.0.16

before_install:
  - sudo apt install wget
  - wget https://github.com/aeternity/aeternity/releases/download/v${AETERNITY_VERSION}/aeternity-${AETERNITY_VERSION}-ubuntu-x86_64.tar.gz
  - tar -xvf aeternity-${AETERNITY_VERSION}-ubuntu-x86_64.tar.gz
  - git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.7.4
  - echo -e '\n. $HOME/.asdf/asdf.sh' >> ~/.bashrc
  - echo -e '\n. $HOME/.asdf/completions/asdf.bash' >> ~/.bashrc
  - source ~/.bashrc
  - asdf plugin-add java
  - asdf install java oracle-8.141
  - asdf plugin-add maven
  - asdf install maven 3.3.3
  - asdf global maven 3.3.3
  - asdf global java oracle-8.141
  - mix local.rebar --force
  - mix local.hex --force
  - mix build_api v${GENERATOR_VERSION}-elixir v${AETERNITY_VERSION}
  - mix deps.get
  - mix clean


install:
  # Install libsodium
  - mkdir -p libsodium-src
  - "[ -d $HOME/.libsodium/lib ] || (wget -O libsodium-src.tar.gz https://github.com/jedisct1/libsodium/releases/download/$LIBSODIUM_VER/libsodium-$LIBSODIUM_VER.tar.gz && tar -zxf libsodium-src.tar.gz -C libsodium-src --strip-components=1)"
  - cd libsodium-src
  - "[ -d $HOME/.libsodium/lib ] || (./configure --prefix=$HOME/.libsodium && make -j$(nproc) && make install && export LIBSODIUM_NEW=yes)"
  - cd ..

  - sudo apt-get install libssl1.0.0
  # Recompile enacl if necessary
  - "[ -z $LIBSODIUM_NEW ] || (mix deps.compile enacl)"

script:
  - ./bin/aeternity start
  - mix format --check-formatted
  - mix compile --warnings-as-errors
  - mix compile.xref --warnings-as-errors
  - mix coveralls -u --exclude disabled
